/*? ============================ FAQ ============================== */

.faq details {
  padding: 18px 20px;
  border-radius: 14px;
  border: 1px solid var(--color-border-light);
  background: rgba(var(--rgb-blue), 0.55);
  backdrop-filter: blur(8px);
  margin-bottom: 12px;

  summary {
    cursor: pointer;
    font-weight: 600;
    padding-inline: 0.2rem;

    span {
      padding-left: .5rem;
    }

    &::marker {
      color: var(--color-neon);
      font-size: 1.2rem;
    }
  }

  p {
    color: var(--color-text-dim);
    margin-top: 0.7rem;
    padding-inline: 0.6rem;
  }
}